.AuthPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 2em;

  h3 {
    cursor: pointer;
    color: #007bff;
    margin-bottom: 1em;
    &:hover {
      text-decoration: underline;
    }
  }

  form {
    width: 300px;
    display: flex;
    flex-direction: column;
  }
}
